/* Global variables */
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
  --primary-color: #ef476f;
  --secondary-color: #ffd166;
  --tertiary-color: #06d6a0;
  --light-blue-color: #118ab2;
  --dark-blue-color: #073b4c;
  --ligh-color: #f3f3f3;
  --dark-color: #333;
}

/* General configurations */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.7rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
  padding-: 10px;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 2.5rem;
}

.logo a:hover {
  color: var(--primary-color);
}

.current {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.75rem;
}

/* Header */
#home-header {
  background: url(../images/cover/macbook-cover.jpg) no-repeat center
    center/cover;
  height: 100vh;
}

/* Nav */
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-self: space-between;
}

.navbar ul li {
  padding: 1.5rem;
}

.navbar ul li a {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.navbar ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.75rem;
}

/* Footer */
footer {
  background-color: var(--dark-color);
  font-size: 80%;
  font-style: italic;
  padding: 1rem 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer .container .social {
  display: flex;
  justify-self: flex-end;
}

footer .container .social > * {
  padding: 0 0.5rem;
}

footer .container .social i {
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

footer .container .social .fa-facebook:hover {
  background-color: var(--light-blue-color);
}

footer .container .social .fa-instagram:hover {
  background-color: var(--primary-color);
}

footer .container .social .fa-linkedin:hover {
  background-color: var(--dark-blue-color);
}

footer .container .social .fa-github:hover {
  background-color: var(--secondary-color);
}
