<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta tag for the description that will be displayed in a search engine -->
    <meta
      name="description"
      content="This is a portifolio from Leandro Fahur works"
    />
    <!-- Meta tag that describe the content of the website -->
    <meta
      name="keywords"
      content="Portfolio, Leandro, Fahur, Leandro Fahur, Work"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CDN link to use icons from fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Portfolio::About</title>
  </head>
  <body>
    <header id="alt-header">
      <div class="container">
        <nav class="navbar">
          <h1 class="logo">
            <a href="index.html"><i class="fas fa-terminal"></i></a>
          </h1>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html" class="current">About</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="about-a">
      <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="underline"></div>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
          veniam.
        </p>
        <div class="about-info">
          <img src="../images/profile/profile.jpg" alt="Profile picture" />
          <div class="about-content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              laboriosam ab, repellat maxime velit dolore provident facilis
              ducimus voluptates temporibus et quas vero veritatis delectus,
              voluptatum in asperiores, omnis mollitia!
            </p>
          </div>
          <div class="projects">
            <h3>Projects</h3>
            <!-- <i class="fas fa-award fa-3x"></i> -->
            <p>#5</p>
          </div>
          <div class="awards">
            <h3>Awards</h3>
            <!-- <i class="fas fa-award fa-3x"></i> -->
            <p>#2</p>
          </div>
          <div class="publications">
            <h3>Publications</h3>
            <!-- <i class="fas fa-file-signature fa-3x"></i> -->
            <p>#1</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Copyright &copy;. All Rights Reserved 2020 - Leandro Machado</p>
        <div class="social">
          <p>Follow me</p>
          <a href="https://www.facebook.com/leandro.fahur/" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/leandrofahur/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/leandro-miranda-fahur-machado/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://github.com/leandrofahur" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
